*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ctn{
    background-color: white;
    margin: 0;
    padding: 0;
  
}
h1,input,h3{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.body{
    display: flex;
    align-content: center;
    background-color: rgb(206, 229, 250);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.titulo{
    height: 30px;
}
.subTitulo{
    height: 30px;
}
.ctn2{
    margin: 0;
}
.display{
    height: 40px;
}
.inputs{
    background-color: rgb(206, 229, 250) !important;
}

.intereses{
    height: 40px;
}
.intereses:active{
    background-color: hsl(61, 40%, 73%);
    border-color: #d7da2f;
}
.inputRadio{
    border: solid #d7da2f 1px !important;
    background-color: #d7da2f !important;
}

.inputRadio:focus + input{
    border: solid #d7da2f 1px !important;
    background-color: #d7da2f !important;
}

.btn{
    height: 55px;
    background-color: hsl(61, 70%, 52%);
}
.imgTotal{
    height: 420px;
    background-color: rgba(7, 52, 70, 0.918);
}
.img{
    background-color:- #d7da2f;
}
.imgCalculadora{
    height: 235px;
}
.fondoRes{
    height: 198px;
    border-radius: 5%;
    background-color: #d7da2f;
}
.resultados{
    justify-content: center;
    width: 100%;
    height: 98%;
    border-radius: 4%;
    border-color: rgba(1, 27, 37, 0.918);
    background-color: rgba(5, 33, 43, 0.952) !important;
}
.azul2{
    height: 400px;
}
.azul2Text{
    font-size: medium;
}
h4{
    font-size: small;
}
.yourMonthly{
    color: #d7da2f;
    font-size: 45px;
}
.total{
    color:white;
    font-size: x-large;
}
.errorCaptura{
    margin-block-end: 0;
    padding: 0;
}
.fondoRes{
    height: 60%;
}
.libra{
    color: #d7da2f;
    font-size: 45px;
}
/*estyles para mostrar error*/
.vacio > input{
    border: solid red 1px;
}
.vacio > span{
    background-color: red !important;
    color: white;
}
.vacio > p{
    display: block;
}
/*----------------------------*/
/* styles cuando esta activo el input */

.green > input:focus + span {
    background-color: #d7da2f !important;
    color: white; 
}
.green > input:focus {
    border: solid #d7da2f 2px !important; 
    background-color: #f1f8d7; 
}

/*------------------------------------*/


@media (min-width: 768px){
    .body{
        padding: 160px;
        display: flex;
        place-content: center !important;
        justify-items: center;
    }
    .ctn{
        max-width: 958px;
        align-items:center;
        align-content: center;
        height: 560px !important;
        place-items: center !important;
    }
    .encabezado{
        align-items: center;
        justify-content:space-between;
    }
    .titulo{
        font-size:large;
    }
    .subTitulo{
        justify-content: center;
        font-size: 12px;
    }
    .ctn2{
        width: 50%;
        height: 560px;
        flex: 1;
    }
    .imgTotal{
        align-items: center;
        justify-content: center;
        height: 560px;
        width: 50%;
        border-end-start-radius:  12%;
    }
    .text1{
        margin-bottom: 3rem;
    }
    .azul2Text{
        margin-bottom: 1rem;
    }
    .fondoRes{
        height: 60%;
    }
}