*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    
}
.ctn{
    margin: 0;
    padding: 0;
  
}
.titulo{
    height: 30px;
}
.subTitulo{
    height: 30px;
}
.ctn2{
    margin: 0;
}
.btn{
    background-color: hsl(61, 70%, 52%)
}
.imgTotal{
    background-color: rgba(7, 52, 70, 0.918);
}
.img{
    background-color:- hsl(61, 70%, 52%)
}